:root {
    --primary-color: #00698f;
    --secondary-color: #0085ba;
    --background-color: #F7F7F7;
    --text-color: #333;
    --link-color: #0085ba;
    --hover-color: #00698f;
    --overlay-color: rgba(0, 0, 0, 0.5);
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1200px;
    margin: 0 auto;
}

/* Typography */
h1 {
    font-size: 48px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

h2 {
    font-size: 36px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

/* Header Grid Layout */
.header-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 1em;
}

.header-grid .logo {
    width: 100px;
    height: auto;
    margin-right: 1em;
}

.nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-flex ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-flex li {
  margin-right: 20px;
}

.nav-flex a {
  text-decoration: none;
  color: var(--link-color);
}

.nav-flex a:hover {
  color: var(--hover-color);
}

/* Hero Styles */
.hero {
    position: relative;
    height: 500px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
    width: 100%;
}

.hero h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: -1;
}

/* Article Styles */
article {
    position: absolute;
    top: 520px;
    left: 50px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000033;
}

article img {
    float: right;
    width: 30%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

article p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

/* History Styles */
.history {
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 350px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.history h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.history p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Adventures Grid */
.adventures-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    padding: 2em;
}

.adventures-grid figure {
    margin: 0;
}

.adventures-grid img {
    width: 100%;
    height: auto;
}

.adventures-grid figcaption {
    font-size: 0.9em;
    color: #666;
}

/* Footer */
footer {
    background-color: rgba(255, 255, 255, 0.8);
    color: #FFFFFF;
    padding: 1em;
    text-align: center;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.sociallinks img {
  width: 32px;
  height: 32px;
  margin: 0 10px;
}


/* Contact Page Specific Styles */
.contact-info {
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.employee-profiles {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.employee-profiles figure {
    text-align: center;
    width: 30%;
}

.employee-profiles img {
    width: 100%;
    border-radius: 10px;
}

.contact-form {
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.contact-form button {
    background-color: var(--primary-color);
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.contact-form button:hover {
    background-color: var(--hover-color);
}
